.text-field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* NUDGERS */
.nudgers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.nudger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 40px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.nudge-down,
.nudge-up {
  background-position: center center;
  background-size: 24px;
  background-repeat: no-repeat;
}

.nudge-down {
  background-image: url("../assets/minus.png");
}

.nudge-up {
  background-image: url("../assets/plus.png");
}

/* INPUT */
.text-field {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px 4px 16px;
  /* gap: 8px; */
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #DEE2E6;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.text-field input {
  height: 16px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  border-width: 0;
  color: rgba(0, 0, 0, 0.87);
  flex: none;
  order: 0;
  flex-grow: 1;
  padding: 0;
}

.text-field input:focus {
  outline: none;
}

.text-field-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.text-field-leading-symbol,
.text-field-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #111214;
}

.text-field-helper-text {
  font-size: 12px;
  line-height: 14px;
}

.helper-text-lead-copy {
  color: rgba(0, 0, 0, 0.6);
}

.helper-text-trailing-copy {
  color: #198754;
  font-weight: 700;
}

/* SLIDER */
.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  isolation: isolate;
  width: 256px;
  height: 16px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.slider {
  width: 100%;
}

.rc-slider-track {
  background-color: #C0A047;
  border-radius: 9999px;
}

.rc-slider-handle {
  width: 16px;
  height: 16px;
  background-color: #C0A047;
  border: 0;
  opacity: 1;
}

.rc-slider-handle:focus-visible,
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border: 0;
  box-shadow: none;
}

.rc-slider-rail {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
}